<div class="container">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= link_to image_tag("horizonsmall.jpg", :alt => "logo", :title => "Home"), root_path %>
      <div class="carousel-caption carousel-text" >
        <h4>Horizont Hospizinitiative Seesen e.V.</h4>
        	<p><span>Aktuell: </span>Infoveranstaltung zu unserem <%= link_to "Trauercafé", trauercafe_path %> am 12.05., 19:30 Uhr im Evangelischen Kirchenzentrum</p>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("volksbank.jpg", :alt => "logo", :title => "Volksbank"), 'https://www.myvoba.com/wir-fuer-sie/presse/pressemitteilung/dezember-2013/spende_hospiz_initiative_seesen.html' %>
      <div class="carousel-caption carousel-text">
        <h4>Spende der Volksbank eG</h4>
        <p>Die Volksbank eG in Seesen hat der Hospiz-Initiative Seesen e.V. einen Betrag von 1.000,00 Euro aus den Reinerträgen des VR-Gewinnsparens gespendet.</p>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("hospizbrunch.jpg", :alt => "logo", :title => "Veranstaltungen"), veranstaltungen_path %>
      <div class="carousel-caption carousel-text">
        <h4>Hospizbrunch</h4>
        <p>Eine von vielen Veranstaltungen, die wir organisieren, um über die Hospizarbeit zu informieren.
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="row">
  <div class="col-md-8">
    <h1>Aktuelles bei Horizont</h1>
    <article>
      <h2>Eröffnung unseres Trauercafés</h2>
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>12.Mai.2015, 16:30 Uhr
      <hr>
      <p>
        Immer wieder wird an uns die Frage herangetragen, ob denn Horizont auch Menschen in ihrer Trauer begleitet.
      </p>
      <p>
        Dies sei doch neben der Begleitung Sterbender und deren Angehörigen und Freunden eine Aufgabe, die sich logisch an das Anliegen unserer Hospizinitiative anschließen würde. Mit dem Tod würde doch nicht alles aufhören, sondern die Trauerarbeit erst wirklich beginnen.
      </p>
      <p>
        Nun haben unsere beiden Mitglieder und Horizont-Mitarbeiterinnen Christiane Bernd und Christel Morgenstern die Trauerbegleiterausbildung absolviert. Die Horizont-Hospizinitiative hat beide dabei finanziell unterstützt.
      </p>
      <p>
        Am 12.05. um 19:30 Uhr im Evangelischen Kirchenzentrum werden Christiane Bernd und Christel Morgenstern die Idee eines <%= link_to "Trauercafés", trauercafe_path %> öffentlich vorstellen. Alle Interessenten sind herzlich dazu eingeladen.
      </p>
      <div class="fb-like" data-href="http://www.horizont-hospizinitiative.de/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </article>
  </div>
  <div class="col-md-4">
  	<h2>Sterbebegleitung</h2>
  	<p>
      Wir bieten Ihnen Begleitung im Rahmen eines ambulanten Dienstes an. Das bedeutet, dass ehrenamtliche Mitarbeiter/- innen auf Wunsch zu Schwerkranken und Sterbenden nach Hause kommen, sie besuchen und sie selbst und ihre Angehörigen unterstützen.
    </p>
  	<button type="button" class="btn btn-warning"><%= link_to "MEHR", begleitdienst_path %></button>
    <h2>Kontaktaufnahme</h2>
    <p>
      Horizont Hospizinitiative Seesen e.V. ist zu erreichen unter der Telefonnummer: 0160/75 80 842.
      Das Telefon ist jeden Tag erreichbar. Sie sind entweder persönlich mit einer/-m Hospizmitarbeiter/-in verbunden oder ein Anrufbeantworter, der täglich abgehört wird, nimmt Ihr Anliegen entgegen.
    </p>
    <button type="button" class="btn btn-warning"><%= link_to "MEHR", wir_path %></button>
    <h2>Mitmachen</h2>
    <p>
      Wenn Sie mehr über die Hospizarbeit wissen möchten, wenn Sie die Arbeit unserer Initiative durch Ihre fördernde Mitgliedschaft oder mit einer Spende unterstützen möchten, dann wenden Sie sich bitte an unseren Vorstand:
    </p>
    <button type="button" class="btn btn-warning"><%= link_to "MEHR", wir_path %></button>
  </div>
</div>

</div>