<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag("Meyer.jpg", :alt => "logo", :title => "Home", :class => ""), root_path %>
      <div class="caption">
        <h3>1. Vorsitzender und Moderator MitarbeiterInnenkreis</h3>
        <p>Pfarrer Tim-Florian Meyer</p>
        <p>Tel: 05381/942912</p>
        <p><a href="mailto:horizontseesen@googlemail.com" class="btn btn-warning" role="button">Email</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag("homann.jpg", :alt => "logo", :title => "Home", :class => ""), root_path %>
      <div class="caption">
        <h3>2. Vorsitzender</h3>
        <p>Erik Homann</p>
        <p>Tel: 05381/7870061</p>
        <p><a href="mailto:erik.homann@gmail.com" class="btn btn-warning" role="button">Email</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <%= link_to image_tag("Borsch.jpg", :alt => "logo", :title => "Home", :class => ""), root_path %>
      <div class="caption">
        <h3>Schriftführerin</h3>
        <p>Barbara Borsch</p>
        <p>Tel: 05381 / 48864</p>
        <p><a href="mailto:horizontseesen@googlemail.com" class="btn btn-warning" role="button">Email</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag("hartung.jpg", :alt => "logo", :title => "Home", :class => ""), root_path %>
      <div class="caption">
        <h3>Kassenführerin</h3>
        <p>Kerstin Hartung</p>
        <p>Tel: 05381 / 2086</p>
        <p><a href="mailto:horizontseesen@googlemail.com" class="btn btn-warning" role="button">Email</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag("druege.jpg", :alt => "logo", :title => "Home", :class => ""), root_path %>
      <div class="caption">
        <h3>Beisitzerin</h3>
        <p>Margret Drüge</p>
        <p>Tel: 05381 / 46322</p>
        <p><a href="mailto:horizontseesen@googlemail.com" class="btn btn-warning" role="button">Email</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag("maegel.jpg", :alt => "logo", :title => "Home", :class => ""), root_path %>
      <div class="caption">
        <h3>Beisitzerin</h3>
        <p>Christa Mägel</p>
        <p>Tel: 05381 / 3263</p>
        <p><a href="mailto:horizontseesen@googlemail.com" class="btn btn-warning" role="button">Email</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag("mittelstaedt.jpg", :alt => "logo", :title => "Home", :class => ""), root_path %>
      <div class="caption">
        <h3>Beisitzerin</h3>
        <p>Melanie Mittelstädt</p>
        <p>Tel: 05327/4243</p>
        <p><a href="mailto:horizontseesen@googlemail.com" class="btn btn-warning" role="button">Email</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <h3>Anschrift</h3>
        <p>Hinter der Kirche 1a, 38723 Seesen</p>
        <h3>Bankverbindungen</h3>
        <p>- BLSK Seesen</br>
IBAN: DE67 2505 0000 0021 0522 53</br> - Volksbank Seesen eG</br>
IBAN: DE34 2789 3760 1007 9920 00</p>
        
  </div>
</div>
</div>